*{
    margin: 0;
    padding: 0px;
}

body {
    margin:0;
    font-size: 17;
    color: whitesmoke;
    line-height: 1.6;
}
#showcase {
    background-image: url(billyfishing.jpeg);
    background-size:cover;
    background-position:center;
    height: 80vh;
    display:flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}
#showcase li {
 color:wheat;
 line-height: 1.1;
 
}
#showcase h1 {
    font-size: 30px;
    line-height: 1.0;
    color: wheat;
}
#showcase h2 {
    font-size: 25px;
    line-height: 1.0;
    color:navajowhite;
}
nav {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    width:1000;
    border: 2px solid cadetblue;
    background-color:aqua;
}
li .dropdown-menu {
    background-color: navajowhite;
    color: blue;
    
}
li .dropdown-item {
color: blue;
}

li a {
    display: flex;
    padding: 1px;
    text-decoration: none;
    list-style: none;
    margin: 1px;
    background-color:navajowhite;
    line-height: 1.0px;
    color: blue;
 }
    
li a:hover {
    background-color:cadetblue;         
}
li a .dropdown {
    background-color: navajowhite;
}
.dropdown :hover {
    background-color: cadetblue;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color:wheat;
    border:wheat 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
  background:wheat;
  color:cadetblue;  
}
#section-a {
    padding: 10px;
    background: aquamarine;
    text-align: center;
    margin-top: 1px;
    color: black;
}
#section-b {
    padding: 20px;
    background: wheat;
    text-align: center;
    color: black;   
}
#section-c {
    padding: 20px;
    background:aqua;
    text-align: center; 
    color: black;
}
@media (){
    
}

    
